.home {
    display: flex;
    height: 100vh;
  }
  

  .content {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    padding: 20px;
  }
  
  /* Posts section: scrollable area in the middle */
  .posts {
    flex-grow: 2;
    /* background-color: grey; */
    padding: 10px;
    padding-top: 16rem;
    margin-top: 1rem;
    margin-right: 20px;
    max-height: 100vh;
    overflow-y: auto;
    border-radius: 8px;
    display: flex;            
    flex-direction: column;   
    justify-content: center;  
    align-items: center;      
  }
  
  

  
  /* Profile section on the right */
  .profile {
    width: 250px;
  }
  
  .profileOverview {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Optional: Scrollbar styling for posts */
  .posts::-webkit-scrollbar {
    width: 6px;
  }
  
  .posts::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
  }
  
  .posts::-webkit-scrollbar-thumb:hover {
    background-color: #b5b5b5;
  }
  